# PostgreSQL
POSTGRES_USER=prostir
POSTGRES_PASSWORD=prostir
POSTGRES_DB=prostir
POSTGRES_PORT=5432

# Connection string для Prisma
DATABASE_URL=postgresql://prostir:prostir@localhost:5432/prostir?schema=public

# API
API_PORT=4000
NODE_ENV=development

# Origin фронтенду
WEB_ORIGIN=http://localhost:5173

# Auth, Access
JWT_ACCESS_SECRET=super-puper-key-for-dev-only-change-me-before-any-real-deploy
JWT_ACCESS_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# За скільки хвилин до кінця бронювання нагадати звільнити кімнату
NOTIFY_BEFORE_MINUTES=10

# Web
WEB_PORT=5173
VITE_API_URL=http://localhost:4000
