# dependencies
node_modules/

# build output
dist/
build/

# environment
.env
*.local

# logs
*.log
npm-debug.log*

# editor / OS
.idea/
.vscode/
.DS_Store

# prisma
api/src/db/*.db

# prisma generated client
api/src/db/generated/

CLAUDE.md
.claude/


*.tsbuildinfo
